name: CI Build and test

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5

        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest -q

      - name: Run build script
        run: ./build_scripts/package.sh

      - name: upload build devops
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: build-output/
